# Ignore everything in proj/
proj/*

# But keep .gitkeep
!proj/.gitkeep

# But keep project0 (and all its contents)
!proj/proj0/
!proj/proj1/
!proj/proj2/
!proj/proj3/
!proj/proj4/


lec/*
!lec/.gitkeep

disc/*
!disc/.gitkeep

# But keep published discussion notebooks (and all their contents)
!disc/disc03/
!disc/disc04/

**/.DS_Store
**/.ipynb_checkpoints
**/__pycache__
**/.OTTER_LOG
